/*
color: #967979
color-button: #ebe9eb
*/

/*
HEADER
*/

.header-container {
    position: relative;
    display: block;
    height: 400px;
}

body {
    font-family: 'Josefin Sans', 'Helvetica Neue', 'Helvetica', Arial, Verdana sans-serif;
}

.background-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.jumbotron .h1, .jumbotron h1 {
    font-family: 'Rock Salt', cursive;;
    font-size: 45px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0 !important;
    margin-top: 20px;
    background-color: white;
}
.jumbotron p {
    color: #967979;
}

.want-a-wall {
    font-family: 'Rock Salt', cursive;
    padding-top: 20px;
    font-size: 25px;
}

.want-a-wall-p {
    font-size: 20px;
    padding-bottom:30px;
    color: #967979;
    padding-top: 10px;
}

.button-go-to-shop {
    justify-content: center;
    text-transform: uppercase;
    padding: 12px;
    background-color: #ebe9eb;
    width: 255px;
    border: none;
    border-radius: 3px;

}

.button-go-to-shop:hover {
    background: #dad8da;
}


/*
MENU
*/
.nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-printstoretheme {
    text-align: center;
    border: none;
    border-radius: 0;
    min-height: auto;
    margin-bottom: 0;
    font-size: 14px;
    background-color: #967979;
}

.navbar-printstoretheme a {
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 15px;
}

.navbar-printstoretheme li {
    float: none;
    display: inline-block;
}

.navbar-printstoretheme ul {
    float: none;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}


/*
SINGLE PAGE PRODUCT
*/

.h1, h1 {
    padding-top: 30px;
}


.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    margin-top: 50px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #967979;
    font-size: 20px;
}

.woocommerce div.product div.images img {
    margin-left: 60px;
    width: 70%;
}

.woocommerce div.product form.cart .button{
    text-transform: uppercase;
    padding: 12px;
    background-color: #ebe9eb;
    border: none;
    border-radius: 3px;
    color: #5d5d5d;
}

.woocommerce div.product form.cart .button:hover {
    background: #dad8da;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li { /* More information */
    border: none;
    background-color: none;
    font-size: 20px;
    position: initial;
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding-left: 25px;
}


/*
RELATERADE PRODUKTER
*/

.woocommerce related.products {
    padding-top: 50px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    text-align: center;
    font-size: 20px;
    color: black;
}

.woocommerce ul.products li.product .price {
    text-align: center;
    font-size: 18px;
    color: #967979;
}

.woocommerce ul.products li.product .button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 12px;

}


/*
FOOTER
*/

.container-footer {
    padding-bottom: 50px;
    padding-top: 20px;
}

.h4, h4 {
    text-transform: uppercase;
    text-decoration: underline;
}

.h5, h5 {
    text-transform: uppercase;
    color: #967979;

}

/*
.back-to-top-button {
    background-color: white;
    border-color: #967979;
    font-size: 15px;
    float: right;
}
*/

a:link {
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #999;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#meny li {
    list-style-type: none;
}


/*
GALLERY
*/

.gallery {
    margin: 10px 65px;
    position: relative;
}

.gallery img {
    width: 240px;
    padding: 5px;
    transition: 0.5s;
}

.gallery img:hover {
    transform: scale(0.9);
}

.gallery-h2 {
    font-family: 'Rock Salt', cursive;
    padding-top: 50px;
    text-align: center;
}

.gallery-p {
    color: #967979;
    font-size: 15px;
    font-size: 20px;
    text-align: center;
    padding: 40px;
}
/*
@media only screen and (max-width: 766px) {
    .gallery img {
        max-width:100%;
        height:auto;
        width: auto;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}*/

@media only screen and (max-width: 1000px) {
    .gallery img {
        width: 100px;

    }
}

/*
MY ACCOUNT
*/

.woocommerce-account .woocommerce-MyAccount-navigation li{
    display: block;
    padding: 10px 0 6px 5px;
    border-bottom: 2px solid #967979;
    font-size: 15px;
}

.woocommerce-cart .hentry, .woocommerce-checkout .hentry {
    width: 100%;
}

.woocommerce-Price-currencySymbol {
    letter-spacing: 2px;
}

/*
CHECKOUT
*/
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    background-color: #967979;
    height: 35px;
    text-transform: uppercase;
    color: black;
    font-size: 12px;

}

.woocommerce-info {
    border-top-color: #967979;
}

.woocommerce-info::before {
    color: #967979;
}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    background-color: white;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    background-color: white;
}

/*
CART
*/

.woocommerce a.button.alt {
    text-transform: uppercase;
    color: black;
    background-color: #ebe9eb;
    border-radius: 3px;
}

.woocommerce a.button.alt:hover {
    background-color: #dad8da;
}


/*
SEARCH
*/

.form-control {
    width: 30%;
    float: right;
}

.button, input, optgroup, select, textarea {
    margin-top: 5px;
}

@media only screen and (max-width: 766px) {
    .form-control{
        width: 100%;
    }
}

